
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="float:left; background-color:#343A40; height: 786px;padding-top: 100px;width:200px;">
  <a class="nav-link"   href="/courses/create" role="tab" aria-controls="v-pills-home" aria-selected="true" style="color:white !important;padding-bottom: 30px;">Đăng khóa học</a>
  <a class="nav-link"   href="/me/stored/courses" role="tab" aria-controls="v-pills-profile" aria-selected="false" style="color:white !important;padding-bottom: 30px;">Khóa học của tôi</a>
  <a class="nav-link"   href="#" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="color:white !important;padding-bottom: 30px;">Bài viết của tôi</a>
  <a class="nav-link"   href="http://localhost:3000" onclick="handleLogout()" role="tab" aria-controls="v-pills-settings" aria-selected="false" style="color:white !important">Đăng xuất</a>
</div>
<script>
  handleLogout=()=>{
    console.log("logout");
  }
</script>